.page-content {
  position: relative;
}
.inline-block {
  display: inline-block;
}
.paragraph {
  text-indent: 25px;
}
.contacts-header {
  text-align: right;
  position: fixed;
  height: 25px;
  width: 100%;
  z-index: 2;
  background-color: #000;
  border-bottom: 1px solid #242424;
}
@media (max-width: 600px) {
  .contacts-header {
    text-align: center;
  }
}
.contacts-header .social-icons-container {
  float: left;
}
.contacts-header .social-icons-container .social-icon {
  color: #969696;
  display: inline-block;
  padding: 4px;
  background-color: #1b1b1b;
  border-radius: 2px;
  font-size: 12px;
}
@media (max-width: 700px) {
  .contacts-header .social-icons-container {
    display: none;
  }
}
.contacts-header .inner-container {
  position: relative;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.contacts-header .phone {
  display: inline-block;
  color: whitesmoke;
  font-size: 15px;
  margin-right: 20px;
}
@media (max-width: 600px) {
  .contacts-header .phone {
    margin-right: 0px;
  }
}
.contacts-header .phone:before {
  content: "\f095";
  color: #7FC142;
  font: 700 15px/10px "FontAwesome";
  padding-right: 10px;
}
.contacts-header .mail {
  display: inline-block;
  color: whitesmoke;
  font-size: 15px;
  margin-right: 9px;
}
@media (max-width: 600px) {
  .contacts-header .mail {
    display: none;
  }
}
.contacts-header .mail:before {
  content: "\f0e0";
  color: #7FC142;
  font: 700 15px/10px "FontAwesome";
  padding-right: 10px;
}
.form-blog-search .select2-selection.select2-selection--single {
  background-color: whitesmoke;
  border-radius: 20px;
}
.form-blog-search .select2-selection__rendered {
  padding-left: 30px !important;
}
.social-icons-container {
  display: inline-block;
}
.social-icons-container .social-icon {
  color: #969696;
  display: inline-block;
  padding: 4px;
  background-color: #f8f6f6;
  border-radius: 2px;
}
.social-icons-container .social-icon:hover {
  background-color: #e1dfdf;
  text-decoration: none;
}
.social-icons-container .social-icon:hover {
  background-size: 25px;
}
.next-tour {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}
.association {
  display: inline-block;
  height: 60px;
}
.live-edit ul {
  margin-left: 14px;
  display: inline-block;
}
.live-edit img[style*="left"] {
  margin: 15px 20px 15px 0;
}
.live-edit img[style*="right"] {
  margin: 15px 0 20px 15px;
}
.live-edit .cke_widget_image[style*="left"] {
  margin: 15px 20px 15px 0;
}
.live-edit .cke_widget_image[style*="right"] {
  margin: 15px 0 20px 15px;
}
.live-edit figure.image[style*="left"] {
  margin: 15px 20px 15px 0;
}
.live-edit figure.image[style*="right"] {
  margin: 15px 0 20px 15px;
}
@media (max-width: 600px) {
  .live-edit img {
    width: 100% !important;
    height: auto !important;
    margin: 20px 0px !important;
  }
}
[data-shadow] {
  position: relative;
  display: inline-block;
}
[data-shadow]:before {
  content: attr(data-shadow);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  filter: blur(80px);
  z-index: -1;
  color: black;
  padding: 40px;
  margin: -40px;
}
.read-more-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  display: flex;
  align-items: center;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.box-offer:hover .read-more-overlay {
  opacity: 1;
}
.read-more-btn {
  background-color: #7fc142;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  display: inline-block;
  margin: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.read-more-btn:hover {
  background-color: #5f9536;
}
