<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll">
<head>
<title>Vacation Travel</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="css/css.css?family=Lato:400,400i,700,700i,900,900i">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="page text-center">
  <header class="page-header slider-menu-position">
    <div class="rd-navbar-wrap">
      <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" class="rd-navbar rd-navbar-transparent rd-navbar-dark-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static">
        <div class="rd-navbar-inner">
          <div class="rd-navbar-panel">
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <div class="rd-navbar-brand veil reveal-md-block"><a href="index.html" class="brand-name"><img  height="55" src="images/logo-light-299x60.png" alt=""></a></div>
            <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block"><a href="index.html" class="brand-name"><img  height="45" src="images/logo-dark-299x60.png" alt=""></a></div>
          </div>
          <div class="rd-navbar-nav-wrap">
            <ul class="rd-navbar-nav">
              <li class="active"><a href="index.html">Home</a> </li>
              <li><a href="tours-grid.html">Tours</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="tours-grid.html">Tours Grid</a></li>
                  <li><a href="tours-grid-variant-2.html">Tours Grid v2</a></li>
                  <li><a href="tours-list.html">Tours List</a></li>
                  <li><a href="tours-single.html">Tours Single</a></li>
                </ul>
              </li>
              <li><a href="about.html">About</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="our-team.html">Our Team</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                </ul>
              </li>
              <li><a href="#">Pages</a>
                <div class="rd-navbar-megamenu">
                  <div class="row">
                    <div class="col-md-4">
                      <p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 1</p>
                      <ul class="offset-md-top-20">
                        <li><a href="press.html">Press</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="destinations.html">Destinations</a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="signup-variant-2.html">Sign Up v2</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 2</p>
                      <ul class="offset-md-top-20">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="forgot-password.html">Forgot Password</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="terms-of-use.html">Terms Of Use</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="search-results.html">Search Results</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 3</p>
                      <ul class="offset-md-top-20">
                        <li><a href="404.html">404</a></li>
                        <li><a href="503.html">503</a></li>
                        <li><a href="comingsoon.html">Coming Soon</a></li>
                        <li><a href="manitenance.html">Maintenance</a></li>
                        <li><a href="underconsruction.html">Under Construction</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="gallery-cobbles.html">Gallery</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="gallery-cobbles.html">Gallery Cobbles</a></li>
                  <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                  <li><a href="gallery-grid.html">Gallery Grid</a></li>
                  <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                </ul>
              </li>
              <li><a href="blog-grid.html">Blog</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="blog-grid.html">Blog Grid</a></li>
                  <li><a href="blog-grid-sidebar-left.html">Blog Grid Sidebar</a></li>
                  <li><a href="blog-list.html">Blog List</a></li>
                  <li><a href="blog-list-sidebar-left.html">Blog List Sidebar</a></li>
                  <li><a href="blog-list-variant-2.html">Blog List v2</a></li>
                  <li><a href="blog-list-variant-2-sidebar-left.html">Blog List v2 Sidebar</a></li>
                  <li><a href="blog-masonry.html">Blog Masonry</a></li>
                  <li><a href="blog-modern.html">Blog Modern</a></li>
                  <li><a href="blog-single-post.html">Blog Single Post</a></li>
                  <li><a href="blog-single-post-sidebar-left.html">Blog Single Post Sidebar</a></li>
                </ul>
              </li>
              <li><a href="contacts.html">Contacts</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="contacts.html">Contacts</a></li>
                  <li><a href="contacts-variant-2.html">Contacts v2</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section class="section-height-mac">
      <div data-on="false" data-md-on="true" class="rd-parallax">
        <div data-speed="0.25" data-type="media" data-url="images/1920x900.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
          <div class="bg-overlay-darker">
            <div class="shell section-34 section-md-60 section-lg-115">
              <h1 class="veil reveal-md-inline-block text-white">Dubai: The Las Vegas of the Middle East or Something Completely Different?</h1>
              <div class="offset-md-top-35">
                <ul class="list-inline list-inline-dashed list-inline-dashed-sm text-small text-white">
                  <li class="text-uppercase"><img src="images/icon-16-16x15-light.png" width="16" height="15" alt=""><span class="text-middle inset-left-10">JUNE 20, 2016</span></li>
                  <li class="text-bottom p text-uppercase"><img src="images/icon-17-16x15-light.png" width="16" height="15" alt=""><span class="inset-left-10">by <a href="testimonials.html">EMMA STONE</a></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main class="page-content">
    <section class="section-80 bg-wild-wand text-sm-left">
      <div class="shell">
        <div class="range range-xs-center">
          <div class="cell-sm-11 cell-md-9 cell-md-push-1">
            <div class="box box-lg box-single-post bg-white reveal-block">
              <h4 class="text-ubold">An overwhelming experience of visiting the UAE</h4>
              <div class="offset-top-35 text-silver-chalice text-small text-left">
                <p>Dubai. It’s a city that conjures up images of Vegas-like glitz (minus the gambling and drinking). Before visiting last month, my friends painted a picture of a city hot, filled with malls and expensive stores, restaurants, lots of expats, and a bit soulless. “It’s artificial and fake like Vegas and doesn’t demand more than a day or two,” they told me. But when people tell me to zig, I always love to zag, so I decided to spend five days there, determined to find something redeeming about the city. (I picked an excellent time to visit too: an English friend had just moved to the city, so I had a place to stay and a tour guide!)</p>
                <div class="offset-top-20">
                  <p>Since the work week in the Arab world runs from Sunday to Thursday, I decided to split my trip into two: the first three days would be with my friend seeing the new, international Dubai, followed by two days exploring old Dubai while she worked.</p>
                </div>
              </div>
              <div class="offset-top-30 offset-md-top-50">
                <blockquote class="quote quote-simple bg-wild-wand h5 inset-lg-left-60 inset-lg-right-60">
                  <p class="text-gray-base text-italic"> <q>Given that Dubai is a Middle Eastern city with strict laws about vice, I didn’t imagine there’d be too much “craziness” there. My trip would be mellow without the original temper of this region.</q> </p>
                </blockquote>
              </div>
              <div class="offset-top-30 text-silver-chalice text-small text-left">
                <p>“New” Dubai shocked me by how lubricated with alcohol it was. From the ritual of Friday brunch (more on that later) to the fall-down drunks in bars, the 2-for-1 specials, and endless happy hours, I was surprised at how much partying there was in a city that only allowed alcohol in very limited forms. Everywhere you went, drinking — and drinking to excess — was common. In a way, Dubai reminded me of most expat-heavy places in the world. It seems whenever cities attract a lot of foreigners from various nations around the world, they in large part tend to live in a little alcohol-fueled bubble — going to a small selection of restaurants, bars, and neighborhoods, often with scant interaction with locals.</p>
                <div class="offset-top-20">
                  <p>Dubai is still a mystery to me. I can’t wrap my head around it and am determined to return, turn over more stones, and get under this city’s skin. But one thing is for certain – this city is more than a stopover destination!</p>
                </div>
              </div>
              <div class="offset-top-20">
                <div class="reveal-inline-block inset-sm-left-10">
                  <ul class="list-inline list-inline-modern list-inline-11 bg-wild-wand">
                    <li class="text-center"><span class="icon icon-sm icon-circle icon-filled-primary"><img src="images/icon-18-18x15.png" width="18" height="15" alt="" class="img-responsive center-block"></span></li>
                    <li class="text-center"><a href="#" class="icon fa fa-facebook-f text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-twitter text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-youtube text-gray"></a></li>
                    <li class="text-center"><a href="#" class="icon fa fa-linkedin text-gray"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="offset-top-60">
              <hr class="hr bg-alto">
            </div>
            <div class="range range-xs-center range-sm-left range-md-center offset-top-60">
              <div class="cell-sm-6 cell-md-4">
                <div class="inset-left-10 inset-right-10 inset-xs-left-50 inset-xs-right-50 inset-sm-left-20 inset-sm-right-20 inset-md-left-0 inset-md-right-0">
                  <div class="post-box reveal-block text-left">
                    <div class="post-box-img-wrap"><a href="blog-single-post.html"><img src="images/270x240.jpg" width="270" height="240" alt=""/></a></div>
                    <div class="post-box-caption">
                      <div class="post-box-title text-ubold"><a href="blog-single-post.html" class="text-gray-base">How to Choose Your Ideal Travel Destination</a></div>
                      <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-xs text-extra-small-10 offset-top-12 text-silver-chalice">
                        <li class="text-uppercase">JUNE 20, 2016</li>
                        <li class="p text-uppercase"><span>by <a href="testimonials.html">EMMA STONE</a></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0">
                <div class="inset-left-10 inset-right-10 inset-xs-left-50 inset-xs-right-50 inset-sm-left-20 inset-sm-right-20 inset-md-left-0 inset-md-right-0">
                  <div class="post-box reveal-block text-left">
                    <div class="post-box-img-wrap"><a href="blog-single-post.html"><img src="images/270x240.jpg" width="270" height="240" alt=""/></a></div>
                    <div class="post-box-caption">
                      <div class="post-box-title text-ubold"><a href="blog-single-post.html" class="text-gray-base">How to Find the Best Travel Deals</a></div>
                      <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-xs text-extra-small-10 offset-top-12 text-silver-chalice">
                        <li class="text-uppercase">JUNE 20, 2016</li>
                        <li class="p text-uppercase"><span>by <a href="testimonials.html">EMMA STONE</a></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0">
                <div class="inset-left-10 inset-right-10 inset-xs-left-50 inset-xs-right-50 inset-sm-left-20 inset-sm-right-20 inset-md-left-0 inset-md-right-0">
                  <div class="post-box reveal-block text-left">
                    <div class="post-box-img-wrap"><a href="blog-single-post.html"><img src="images/270x240.jpg" width="270" height="240" alt=""/></a></div>
                    <div class="post-box-caption">
                      <div class="post-box-title text-ubold"><a href="blog-single-post.html" class="text-gray-base">Planning a Trip to a Place Where You’ve Never Been</a></div>
                      <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-xs text-extra-small-10 offset-top-12 text-silver-chalice">
                        <li class="text-uppercase">JUNE 20, 2016</li>
                        <li class="p text-uppercase"><span>by <a href="testimonials.html">EMMA STONE</a></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-top-60 text-left">
              <hr class="hr bg-alto">
              <div class="offset-top-60">
                <div class="box box-lg bg-white reveal-block inset-lg-right-60">
                  <h4 class="text-ubold">42 Comments</h4>
                  <div class="offset-top-30">
                    <div class="unit unit-xs unit-xs-wide unit-xs-horizontal unit-spacing-sm">
                      <div class="unit-left"><img src="images/40x40.jpg" width="40" height="40" alt="" class="img-responsive img-circle"></div>
                      <div class="unit-body">
                        <form class="rd-mailform form-comment">
                          <div class="form-group form-group-xs">
                            <label for="comment" class="form-label">Enter your comment ...</label>
                            <input id="comment" type="text" name="comment" class="form-control inset-right-50">
                          </div>
                          <button type="submit"><img src="images/icon-19-19x19.png" width="19" height="19" alt="" class="img-responsive center-block img-semi-transparent-inverse"></button>
                        </form>
                      </div>
                    </div>
                    <div class="offset-top-25">
                      <div class="unit unit-xs unit-xs-wide unit-xs-horizontal unit-spacing-sm">
                        <div class="unit-left"><img src="images/40x40.jpg" width="40" height="40" alt="" class="img-responsive img-circle"></div>
                        <div class="unit-body">
                          <div>
                            <p class="text-small text-ubold"><a href="testimonials.html" class="text-gray-base">Shirley Richardson</a></p>
                          </div>
                          <div class="offset-top-0">
                            <p class="text-extra-small-10 text-silver-chalice">JUNE 21 2016 at 17:02</p>
                          </div>
                          <div class="offset-top-12">
                            <p class="text-small text-silver-chalice text-italic">Only been to Dubai on a stopover and wish I had more time. Many people say is “fake” and hides the true reality of the country. Maybe. But I mainly found to be a futuristic “made-from-scratch” urban development project right in the middle of the desert which is fascinating!</p>
                          </div>
                          <div class="offset-top-4"><a href="#" class="btn-link text-extra-small text-primary text-uppercase">REPLY</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="offset-top-25">
                      <div class="unit unit-xs unit-xs-wide unit-xs-horizontal unit-spacing-sm">
                        <div class="unit-left"><img src="images/40x40.jpg" width="40" height="40" alt="" class="img-responsive img-circle"></div>
                        <div class="unit-body">
                          <div>
                            <p class="text-small text-ubold"><a href="testimonials.html" class="text-gray-base">Ann Smith</a></p>
                          </div>
                          <div class="offset-top-0">
                            <p class="text-extra-small-10 text-silver-chalice">JUNE 20, 2016 at 10:42</p>
                          </div>
                          <div class="offset-top-12">
                            <p class="text-small text-silver-chalice text-italic">Fascinating. I was there recently for a conference (at the Atlantis–very nice!). Maybe because it was an international conference, I didn’t see much drinking at all. None during the day. There was a buffet dinner in the hotel disco and alcohol was served but the vast majority of attendees didn’t drink. I met lots of expats living in Dubai who also didn’t drink. I found everything to be exceedingly expensive. I wandered around the mall and didn’t buy a thing because it was all twice as expensive as Europe and it was quite odd. <a href="#" class="btn-more text-ubold text-big text-gray pull-right">...</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="offset-top-20 inset-left-20 inset-xs-left-50 inset-sm-left-80 inset-lg-left-115 post-comment-inner">
                      <div class="post-comment unit unit-xs unit-xs-wide unit-xs-horizontal unit-spacing-sm">
                        <div class="unit-left"><img src="images/30x30.jpg" width="30" height="30" alt="" class="img-responsive img-circle"></div>
                        <div class="unit-body">
                          <div>
                            <p class="text-small text-ubold"><a href="testimonials.html" class="text-gray-base">John Davis</a></p>
                          </div>
                          <div class="offset-top-0">
                            <p class="text-extra-small-10 text-silver-chalice">JUNE 20, 2016 at 12:37</p>
                          </div>
                          <div class="offset-top-12">
                            <p class="text-small text-silver-chalice text-italic">Dubai is definitely one of the most expensive cities in UAE, but there are some advantages in visiting it as well. If you are looking for something more European, you can visit Abu Dhabi.</p>
                          </div>
                          <div class="offset-top-4"><a href="#" class="btn-link text-extra-small text-primary text-uppercase">REPLY</a></div>
                        </div>
                      </div>
                      <div class="post-comment unit unit-xs unit-xs-wide unit-xs-horizontal unit-spacing-sm offset-top-12">
                        <div class="unit-left"><img src="images/30x30.jpg" width="30" height="30" alt="" class="img-responsive img-circle"></div>
                        <div class="unit-body">
                          <div>
                            <p class="text-small text-ubold"><a href="testimonials.html" class="text-gray-base">Ann Smith</a></p>
                          </div>
                          <div class="offset-top-0">
                            <p class="text-extra-small-10 text-silver-chalice">JUNE 20, 2016 at 12:39</p>
                          </div>
                          <div class="offset-top-12">
                            <p class="text-small text-silver-chalice text-italic">Thanks, I will consider visiting Abu Dhabi, it might be an interesting experience.</p>
                          </div>
                          <div class="offset-top-4"><a href="#" class="btn-link text-extra-small text-primary text-uppercase">REPLY</a></div>
                        </div>
                      </div>
                      <div class="offset-top-12 inset-lg-right-305">
                        <div class="unit unit-xs unit-xs-wide unit-xs-horizontal unit-xs-spacing-sm">
                          <div class="unit-left"><img src="images/30x30.jpg" width="30" height="30" alt="" class="img-responsive img-circle"></div>
                          <div class="unit-body">
                            <form class="rd-mailform form-comment form-comment-comment-inner">
                              <div class="form-group form-group-xxs">
                                <label for="comment-inner" class="form-label">Enter your comment ...</label>
                                <input id="comment-inner" type="text" name="comment-inner" class="form-control inset-right-30">
                              </div>
                              <button type="submit"><img src="images/icon-21-10x10.png" width="10" height="10" alt="" class="img-responsive center-block img-semi-transparent-inverse"></button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="offset-top-25">
                      <div class="unit unit-xs unit-xs-wide unit-xs-horizontal unit-spacing-sm">
                        <div class="unit-left"><img src="images/40x40.jpg" width="40" height="40" alt="" class="img-responsive img-circle"></div>
                        <div class="unit-body">
                          <div>
                            <p class="text-small text-ubold"><a href="testimonials.html" class="text-gray-base">Kent Fleming</a></p>
                          </div>
                          <div class="offset-top-0">
                            <p class="text-extra-small-10 text-silver-chalice">JUNE 18, 2016 at 21:19</p>
                          </div>
                          <div class="offset-top-12">
                            <p class="text-small text-silver-chalice text-italic">Although many people said Dubai is artificial, I still really want to go there and Dubai is absolutely on my list. I’m sure Dubai has got something interesting. Yes, a lot of tourists say it’s fake and has a pseudo-European style but I believe Dubai hides more than it shows during the first visit. Thanks for the inspiring post! it was a pleasure to read some interesting and unknown facts about the city which is #1 on my “must travel” list. <a href="#" class="btn-more text-ubold text-big text-gray pull-right">...</a></p>
                          </div>
                          <div class="offset-top-0">
                            <ul class="list-inline post-box-meta list-inline-dashed list-inline-dashed-xs text-extra-small-10 text-silver-chalice">
                              <li class="p text-uppercase"><a href="#" class="btn-link text-extra-small text-primary text-uppercase"><img src="images/icon-20-14x11.png" width="14" height="11" alt=""><span class="text-middle inset-left-10">8 replies</span></a></li>
                              <li class="text-bottom p text-uppercase"><a href="#" class="btn-link text-extra-small text-primary text-uppercase">REPLY</a></li>
                            </ul>
                          </div>
                          <div class="offset-top-35"><a href="#" style="padding-top: 5px;padding-bottom: 5px;" class="btn btn-img btn-img-left btn-primary"><span class="btn-img-wrap"><img src="images/icon-17-16x15-light.png" width="16" height="15" alt=""></span><span>VIEW NEXT 35 COMMENTS</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-sm-11 cell-md-3 offset-top-50 offset-md-top-0 text-md-left">
            <aside class="blog-aside box box-xs reveal-block bg-white">
              <p class="text-gray-base text-ubold text-uppercase text-spacing-200">Search</p>
              <div class="offset-top-20">
                <form action="search-results.html" method="GET" class="form-blog-search form-blog-search-type-2 form-search rd-search">
                  <button type="submit" class="form-search-submit"><span class="fa fa-search"></span></button>
                  <div class="form-group form-group-xs">
                    <label for="blog-sidebar-form-search-widget" class="form-label form-search-label form-label-sm">Enter your request</label>
                    <input id="blog-sidebar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control input-sm">
                  </div>
                </form>
              </div>
              <div class="offset-top-40">
                <hr class="hr bg-gallery">
              </div>
              <div class="offset-top-35">
                <p class="text-gray-base text-ubold text-uppercase text-spacing-200">Categories</p>
                <div class="offset-top-20">
                  <ul class="list list-1 list-modern">
                    <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Family (26)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                    <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Adventure (66)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                    <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Romantic (59)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                    <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Wildlife (55)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                    <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Beach (89)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                    <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Honeymoon (27)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                    <li class="text-small"><a href="#" class="text-silver-chalice"><span class="pull-left">Island (45)</span><span class="pull-right text-ubold icon mdi mdi-chevron-right"></span><span class="clearfix"></span></a></li>
                  </ul>
                </div>
                <div class="offset-top-30">
                  <hr class="hr bg-gallery">
                </div>
                <div class="offset-top-30">
                  <p class="text-gray-base text-ubold text-uppercase text-spacing-200">Tags</p>
                  <div class="group group-xs btn-tags offset-top-25 text-left"><a href="#" class="btn btn-sm btn-gray">Travel</a><a href="#" class="btn btn-sm btn-gray">Adventure</a><a href="#" class="btn btn-sm btn-gray">Relax</a><a href="#" class="btn btn-sm btn-gray">Brasil</a><a href="#" class="btn btn-sm btn-gray">Trip</a><a href="#" class="btn btn-sm btn-gray">Honeymoon</a><a href="#" class="btn btn-sm btn-gray">Promotions</a><a href="#" class="btn btn-sm btn-gray">North America</a></div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="page-footer section-top-80 section-bottom-34 section-lg-bottom-15 text-sm-left">
    <div class="shell">
      <div class="range range-xs-center">
        <div class="cell-sm-8 cell-md-12">
          <div class="range range-xs-center">
            <div class="cell-sm-6 cell-md-3 cell-lg-4 cell-md-push-1"><a href="index.html"><img  height="60" src="images/logo-dark-299x60.png" alt=""></a>
              <div class="offset-top-20 inset-lg-right-80">
                <p class="text-small">For over 30 years we have been creating inspirational tailor-made holidays and are proud of our reputation</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-3 cell-lg-2 cell-md-push-4">
              <p class="text-big text-gray-base">Follow Us</p>
              <div class="offset-top-20">
                <ul class="list-inline">
                  <li class="text-center"><a href="#" class="icon icon-square icon-filled-gallery fa fa-facebook-f text-gray"></a></li>
                  <li class="text-center"><a href="#" class="icon icon-square icon-filled-gallery fa fa-twitter text-gray"></a></li>
                  <li class="text-center"><a href="#" class="icon icon-square icon-filled-gallery fa fa-youtube text-gray"></a></li>
                  <li class="text-center"><a href="#" class="icon icon-square icon-filled-gallery fa fa-linkedin text-gray"></a></li>
                </ul>
              </div>
              <div class="offset-top-20 offset-md-top-40">
                <button type="button" data-toggle="modal" data-target="#subscribe" style="min-width:160px;" class="btn btn-primary">Subscribe</button>
                <div id="subscribe" tabindex="-1" role="dialog" class="modal modal-custom fade text-center">
                  <div role="document" class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body">
                        <div class="shell">
                          <div class="range range-xs-center range-xs-middle">
                            <div class="cell-sm-6 bg-image bg-image-1"></div>
                            <div class="cell-sm-6">
                              <div class="modal-body-column-content">
                                <div>
                                  <h5 class="text-ubold">Subscribe to <br class="veil reveal-lg-inline-block">
                                    our newsletter</h5>
                                </div>
                                <div class="offset-top-15">
                                  <p class="text-italic text-small text-gray-base">Subscribe and <code class="text-ubold">get 5% off</code> on your first tour!</p>
                                </div>
                                <div class="offset-top-35">
                                  <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform rd-mailform-subscribe">
                                    <div class="form-group form-group-xs">
                                      <label for="contact-email" class="form-label">Enter Your email here...</label>
                                      <input id="contact-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">SUBSCRIBE</button>
                                  </form>
                                </div>
                                <div class="offset-top-35">
                                  <ul class="list-inline list-primary list-inline-13">
                                    <li class="text-center"><a href="#" class="icon fa fa-facebook-f text-gray-base"></a></li>
                                    <li class="text-center"><a href="#" class="icon fa fa-twitter text-gray-base"></a></li>
                                    <li class="text-center"><a href="#" class="icon fa fa-youtube text-gray-base"></a></li>
                                    <li class="text-center"><a href="#" class="icon fa fa-linkedin text-gray-base"></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-xs-8 cell-sm-12 cell-md-6 offset-top-40 offset-md-top-0 cell-md-push-2">
              <p class="text-big text-gray-base">Our Contacts</p>
              <div class="offset-top-8 offset-sm-top-20">
                <address class="contact-info text-left">
                <div class="range range-xs-center">
                  <div class="cell-sm-6">
                    <div>
                      <p class="reveal-block text-small"><a href="#" class="text-gray"><span class="unit unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-01-16x21.png" width="16" height="21" alt="" class="img-responsive center-block offset-top-4"></span><span class="unit-body"><span>1730 M Str., Suite 501, NW. Washington DC. 20036 U.S.A</span></span></span></a></p>
                    </div>
                    <div class="offset-top-20">
                      <p class="reveal-inline-block text-small"><a href="callto:#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-02-19x19.png" width="19" height="19" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>19008721</span></span></span></a></p>
                    </div>
                  </div>
                  <div class="cell-sm-6 offset-top-15 offset-sm-top-0">
                    <div>
                      <p class="reveal-inline-block text-small"><a href="callto:#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-03-12x20.png" width="12" height="20" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>19008197</span></span></span></a></p>
                    </div>
                    <div class="offset-top-15">
                      <div>
                        <p class="reveal-inline-block text-small"><a href="/cdn-cgi/l/email-protection#1635" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-04-20x13.png" width="20" height="13" alt="" class="img-responsive center-block"></span><span class="unit-body"><span><span class="__cf_email__" data-cfemail="a5cccbc3cae5c1c0c8cac9cccbce8bcad7c2">philip@gmail.com</span></span></span></span></a></p>
                      </div>
                    </div>
                    <div class="offset-top-20">
                      <p class="reveal-inline-block text-small"><a href="#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-05-19x19.png" width="19" height="19" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>TravelTourism.org</span></span></span></a></p>
                    </div>
                  </div>
                </div>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-top-110">
        <div class="hr bg-gallery"></div>
      </div>
      <div class="range range-xs-center range-sm-justify offset-top-8">
        <div class="cell-sm-5 cell-md-4 text-sm-left">
          <p class="text-extra-small">Copyright &#169; <span id="copyright-year"></span> Travel & Tourism. All Rights Reserved.</p>
        </div>
        <div class="cell-sm-5 cell-md-4 text-sm-right offset-top-0">
          <ul class="list-inline list-inline-8">
            <li>
              <p class="text-extra-small"><a href="privacy.html" class="text-gray">Privacy Policy</a></p>
            </li>
            <li>
              <p class="text-extra-small"><a href="terms-of-use.html" class="text-gray">Terms of Use</a></p>
            </li>
            <li>
              <p class="text-extra-small"><a href="contacts.html" class="text-gray">Contact Support</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
<div id="form-output-global" class="snackbars"></div>
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
        <button title="Share" class="pswp__button pswp__button--share"></button>
        <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
        <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
      <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__cent"></div>
      </div>
      <div class="pswp__counter"></div>
    </div>
  </div>
</div>
<script src="js/core.min.js"></script> 
<script src="js/script.js"></script>
</body>
</html>