<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll">
<head>
<title>Vacation Travel</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="css/css.css?family=Lato:400,400i,700,700i,900,900i">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="page text-center">
  <header class="page-header slider-menu-position">
    <div class="rd-navbar-wrap">
      <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" class="rd-navbar rd-navbar-transparent rd-navbar-dark-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static">
        <div class="rd-navbar-inner">
          <div class="rd-navbar-panel">
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <div class="rd-navbar-brand veil reveal-md-block"><a href="index.html" class="brand-name"><img  height="55" src="images/logo-light-299x60.png" alt=""></a></div>
            <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block"><a href="index.html" class="brand-name"><img  height="45" src="images/logo-dark-299x60.png" alt=""></a></div>
          </div>
          <div class="rd-navbar-nav-wrap">
            <ul class="rd-navbar-nav">
              <li><a href="index.html">Home</a> </li>
              <li><a href="tours-grid.html">Tours</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="tours-grid.html">Tours Grid</a></li>
                  <li><a href="tours-grid-variant-2.html">Tours Grid v2</a></li>
                  <li><a href="tours-list.html">Tours List</a></li>
                  <li><a href="tours-single.html">Tours Single</a></li>
                </ul>
              </li>
              <li  class="active"><a href="about.html">About</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="our-team.html">Our Team</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="testimonials.html">Testimonials</a></li>
                </ul>
              </li>
              <li><a href="#">Pages</a>
                <div class="rd-navbar-megamenu">
                  <div class="row">
                    <div class="col-md-4">
                      <p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 1</p>
                      <ul class="offset-md-top-20">
                        <li><a href="press.html">Press</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="destinations.html">Destinations</a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="signup-variant-2.html">Sign Up v2</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 2</p>
                      <ul class="offset-md-top-20">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="forgot-password.html">Forgot Password</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="terms-of-use.html">Terms Of Use</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="search-results.html">Search Results</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <p class="text-big text-gray-base text-ubold veil reveal-md-block veil-tablet-md">Pages 3</p>
                      <ul class="offset-md-top-20">
                        <li><a href="404.html">404</a></li>
                        <li><a href="503.html">503</a></li>
                        <li><a href="comingsoon.html">Coming Soon</a></li>
                        <li><a href="manitenance.html">Maintenance</a></li>
                        <li><a href="underconsruction.html">Under Construction</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="gallery-cobbles.html">Gallery</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="gallery-cobbles.html">Gallery Cobbles</a></li>
                  <li><a href="gallery-fullwidth.html">Gallery Fullwidth</a></li>
                  <li><a href="gallery-grid.html">Gallery Grid</a></li>
                  <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                </ul>
              </li>
              <li><a href="blog-grid.html">Blog</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="blog-grid.html">Blog Grid</a></li>
                  <li><a href="blog-grid-sidebar-left.html">Blog Grid Sidebar</a></li>
                  <li><a href="blog-list.html">Blog List</a></li>
                  <li><a href="blog-list-sidebar-left.html">Blog List Sidebar</a></li>
                  <li><a href="blog-list-variant-2.html">Blog List v2</a></li>
                  <li><a href="blog-list-variant-2-sidebar-left.html">Blog List v2 Sidebar</a></li>
                  <li><a href="blog-masonry.html">Blog Masonry</a></li>
                  <li><a href="blog-modern.html">Blog Modern</a></li>
                  <li><a href="blog-single-post.html">Blog Single Post</a></li>
                  <li><a href="blog-single-post-sidebar-left.html">Blog Single Post Sidebar</a></li>
                </ul>
              </li>
              <li><a href="contacts.html">Contacts</a>
                <ul class="rd-navbar-dropdown">
                  <li><a href="contacts.html">Contacts</a></li>
                  <li><a href="contacts-variant-2.html">Contacts v2</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section class="section-height-mac context-dark">
      <div data-on="false" data-md-on="true" class="rd-parallax">
        <div data-speed="0.25" data-type="media" data-url="images/1920x900.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
          <div class="bg-overlay-darker">
            <div class="shell section-34 section-md-100 section-lg-top-170 section-lg-bottom-165">
              <h1 class="veil reveal-md-inline-block">Careers</h1>
              <div class="offset-top-4">
                <h6 class="text-italic">Become a part of SunTravel</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main class="page-content">
    <section class="section-80 bg-wild-wand">
      <div class="shell">
        <div style="width:100%;" class="box box-accordion box-accordion-xs bg-white">
          <div data-type="accordion" class="responsive-tabs responsive-tabs-classic">
            <ul data-group="accordion-xs" class="resp-tabs-list accordion-xs">
              <li>Tour Consultant</li>
              <li>Junior Travel Agent </li>
              <li>Marketing Executive</li>
              <li>Senior Business Travel Consultant</li>
              <li>Customer Service Consultant</li>
              <li>Sales Manager </li>
              <li>Reservations Consultant</li>
              <li>South America Travel Consultant</li>
              <li>Travel Sales Advisor</li>
              <li>Tour Manager</li>
            </ul>
            <div data-group="accordion-xs" class="resp-tabs-container accordion-xs">
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>Combine your strengths with sales, consulting, and relationship building to help our customers explore the world on our international travel programs. Own your territory, shape its direction and drive its sales growth. Be challenged and supported in a one of a kind culture surrounded by thoughtful and brilliant people. Take pride in being part of an organization which is shaping the global perspective of the next generation. In addition to all of that you will also receive: monthly base salary and unlimited bonus, market-leading healthcare and benefits, outstanding vacation time - 3 weeks to start - 4 weeks in year two, paid international travel at least once a year, comprehensive training and professional development, frequent tour sales competitions with amazing rewards, complimentary in-house language classes and other numerous benefits and bonuses.</p>
                  </div>
                  <div class="offset-top-0">
                    <p>If you think you meet the requirements of this position, feel free to send us your CV. Due to a high amount of applications we receive, unfortunately, we cannot answer every letter instantly, but you will get a reply as soon as possible.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>Travel Agents provide an intermediary service between clients and suppliers to plan leisure and business travel arrangements. These services may range from straightforward tasks such as booking direct flights to coordinating entire travel experiences including itineraries, accommodation, transport, tours and visas.</p>
                    <As>a Junior Travel Agent, your key responsibility will be to simplify the process of arranging travel for your clients using your knowledge of the industry. Travel Agents provide expert advice, secure the best value options for their clients, and ensure they have a positive travel experience.</As>
                  </div>
                  <div class="offset-top-0">
                    <p>Junior Travel Agents may specialize in a particular field such as domestic travel, international travel, corporate travel, or tours. Specialties can also be destination-specific, usually based on a Travel Agent’s familiarity with a particular region. Most Travel Agents work in a sales environment in a retail travel agency, call center or online agency, and make a commission on the bookings made.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>Marketing executives are involved in developing marketing campaigns to promote a product, service or idea. It is a varied role that includes planning, advertising, public relations, event organization, and research. This is a great opportunity for a Marketing Executive to promote and develop the company's portfolio of products through email, CRM, direct mail and sales support. The successful candidate will support with increasing sales and driving traffic to the website through regular email campaigns, e-newsletters, and updates. The candidate will also work closely with design agencies to execute advertising and direct mail campaigns.</p>
                  </div>
                  <div class="offset-top-0">
                    <p>As Marketing Executive of SunTravel, you will be required to regularly produce branded email campaigns, use the CRM system to segment and profile customers, work closely with design agencies to execute offline advertising campaigns, support with trade shows and events to increase brand awareness.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>Join our team as a Senior Business Travel Consultant and help us provide excellent service and support to our clients. In this role, you will embody the mission of our Travel Consultants around the globe as you strive to “Deliver the Perfect Trip”. You will be specifically responsible for delighting the traveler/travel arranger, building commercial value, and strengthening our agency in a way that balances the requirements of all stakeholders and positions our workforce as a key differentiator for our business. If you are interested in growing a career within the travel industry and fit the requirements outlined below – we want to speak with you!</p>
                  </div>
                  <div class="offset-top-0">
                    <p>At SunTravel, we have a unique and compelling culture as an employer defined by our people and supported by our Core Values. Our employees feel a genuine respect for one another, act with uncompromising integrity and feel proud of our global market leadership. They value working together, embrace opportunities for continuous learning and have an intense desire to serve customers.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>We are currently looking for brilliant, compassionate, full-time customer service professionals to join our Customer Experience Team! Interested in supporting the travel industry? Together, our team assists our clients’ hosts and guests to ensure they have the best support and an excellent experience every time. We’ve got it covered 24/7/365 all over the world.</p>
                  </div>
                  <div class="offset-top-0">
                    <p>The Customer Service Consultant at SunTravel will deal with customers efficiently over the phone to make amendments to bookings, deal with customer cancellations and offer alternatives. The Customer Service Consultant will also advise clients of any flight and accommodation changes whilst providing good customer service at all times. If you have the necessary experience and would like to become a part of our team, feel free to send us your CV today!</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>We are looking for an effective, persuasive and committed Sales Manager with a solid background in luxury travel. You will work alongside other members of our team, planning company strategy, delivery of sales performance continuously in line with the SunTravel’s commercial and business goals.</p>
                  </div>
                  <div class="offset-top-0">
                    <p>Your responsibilities as Sales Manager at our tour agency will include adopting a hands-on approach, establishing, managing, and mentoring the sales and customer service teams. You will also have to inspire to drive sales and focus on improving customer experience as well as contribute to the development of sales strategies and setting of sales & service targets. Management of a pre-agreed percentage of the teams’ calls is an important part of our sales managers’ responsibilities. This and other responsibilities will give you an opportunity to grow as a professional at SunTravel.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>We are looking to recruit an enthusiastic Reservations Consultant to work alongside the Sales Team on a day-to-day basis. The Reservations Consultant is responsible for handling, converting and closing inquiries to a successful conclusion within agreed service levels. You will provide a dedicated service offering accurate information on availability, costs, ensuring all reservations are completed accurately and checked thoroughly. The role requires following up on inquiries to maximize sales opportunities, building rapport to ensure a good long-term client relationship along with the maximizing use of net fares and consolidators to optimize profit margins.</p>
                  </div>
                  <div class="offset-top-0">
                    <p>Excellent written and spoken English communication skills are required to ensure accurate, professional emails, itineraries and account information. A professional, friendly approach with good organizational skills along with the ability to work to deadlines and remain calm under pressure is also necessary. If you have a minimum of 12 months computer reservations systems experience using the Sabre GDS system and also Amadeus or related computer reservations systems we would like to hear from you.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>Passionate about South America? We are now seeking South America Specialists to join our award-winning and friendly team. We offer a wide range of bespoke tailor-made destinations to the discerning traveler around the world. Due to success and expansion, there is now an opportunity for an experienced South America Specialist to grow their travel career and be rewarded for their hard work, in our state of the art high spec offices.</p>
                  </div>
                  <div class="offset-top-0">
                    <p>This exciting role entails a wide range of responsibilities, in which no day will be the same, and it includes selling and tailor-making inspiring trips to various resorts including Brazil, Chile, Argentina, Uruguay, Paraguay, Bolivia, Peru, Ecuador, Colombia, Venezuela plus many more exotic locations.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>This is a fantastic opportunity for someone who is enthusiastic about travel and wants to begin their career with a market leading Travel Company with an excellent reputation. You will be joining a company that is extremely passionate about what it does and always looks after its staff. You will be working in a state of the art contact center based in Los Angeles, CA, handling predominantly inbound calls from international customers regarding new travel bookings and reservations. Previous travel experience is not essential for this role, as first class training is provided to ensure you get off to a flying start!</p>
                  </div>
                  <div class="offset-top-0">
                    <p>Your responsibilities as Travel Sales Advisor will include answering inbound reservations calls from customers who want to book worldwide travel, adding value where possible; striving for first contact resolution for all customers; offering exceptional customer service, which exceeds all customers’ expectations; meeting and exceeding individual and team KPIs, promoting travel opportunities through the use of personal travel experiences and training.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
              <div>
                <p class="text-extra-small line-height-1"><a href="#" class="text-gray-base"><span class="reveal-inline-block text-middle"><img src="images/icon-22-9x11.png" width="9" height="11" alt="" class="img-responsive center-block"></span><span class="text-middle inset-left-5">Los Angeles, United States</span></a></p>
                <div class="offset-top-25">
                  <div>
                    <p>Tour managers at SunTravel organize and accompany groups of holidaymakers on tours to a wide variety of the USA and overseas locations. They are responsible for ensuring travel arrangements for holidaymakers run as smoothly as possible from beginning to end, as well as providing them with practical support throughout the trip. Tour managers have in-depth knowledge of a particular area/region and may act as tour guides during the tour. On overseas tours, they use their language skills and knowledge, for example of the culture or history of an area, to ensure the tour goes smoothly and that holidaymakers enjoy themselves. Most tour managers work on a self-employed basis for tour operators, ranging from international companies to small, special interest operators.</p>
                  </div>
                  <div class="offset-top-0">
                    <p>This is a demanding, varied and rewarding role, which includes welcoming groups of holidaymakers at their starting point and announcing details of travel arrangements and stop-over points; checking tickets and other relevant documents, seat allocations and any special requirements; helping with passport and immigration issues; assisting holidaymakers check-in and settle into their accommodation; communicating a range of information on itineraries, destinations and culture; and a lot more responsibilities that can polish your skills and help get benefit from this job.</p>
                  </div>
                  <div class="offset-top-12"><a href="#" class="btn btn-xs btn-width-110 btn-primary">View More</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-70">
      <div class="shell">
        <div class="range range-xs-center">
          <div class="cell-md-10 cell-lg-12">
            <div data-items="1" data-sm-items="2" data-lg-items="3" data-stage-padding="5" data-loop="false" data-margin="30" data-mouse-drag="false" data-dots="true" data-nav="true" class="owl-carousel owl-dots-primary owl-carusel-inset-top">
              <div class="owl-item">
                <div class="inset-lg-left-20 inset-lg-right-20"><span class="icon icon-lg icon-outlined"><img src="images/icon-22-18x22.png" width="18" height="22" alt="" class="img-responsive center-block"></span>
                  <div class="offset-top-25 offset-md-top-40">
                    <p class="text-small text-uppercase text-gray-base text-spacing-200 text-ubold">Travel manager</p>
                  </div>
                  <div class="offset-top-8">
                    <p class="text-small text-small-variant-2 text-silver-chalice">SunTravel invites experienced travel managers to become a part of our friendly team.</p>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="inset-lg-left-20 inset-lg-right-20"><span class="icon icon-lg icon-outlined"><img src="images/icon-23-22x18.png" width="23" height="18" alt="" class="img-responsive center-block"></span>
                  <div class="offset-top-25 offset-md-top-40">
                    <p class="text-small text-uppercase text-gray-base text-spacing-200 text-ubold">Travel Consultant</p>
                  </div>
                  <div class="offset-top-8">
                    <p class="text-small text-small-variant-2 text-silver-chalice">We are currently seeking to hire a professional travel consultant to service and support our clients.</p>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="inset-lg-left-20 inset-lg-right-20"><span class="icon icon-lg icon-outlined"><img src="images/icon-24-24x20.png" width="24" height="20" alt="" class="img-responsive center-block"></span>
                  <div class="offset-top-25 offset-md-top-40">
                    <p class="text-small text-uppercase text-gray-base text-spacing-200 text-ubold">travel Sales consultant</p>
                  </div>
                  <div class="offset-top-8">
                    <p class="text-small text-small-variant-2 text-silver-chalice">If you have experience in travel business as well as in sales, we would be glad to consider your CV!</p>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="inset-lg-left-20 inset-lg-right-20"><span class="icon icon-lg icon-outlined"><img src="images/icon-22-18x22.png" width="18" height="22" alt="" class="img-responsive center-block"></span>
                  <div class="offset-top-25 offset-md-top-40">
                    <p class="text-small text-uppercase text-gray-base text-spacing-200 text-ubold">Travel manager</p>
                  </div>
                  <div class="offset-top-8">
                    <p class="text-small text-small-variant-2 text-silver-chalice">SunTravel invites experienced travel managers to become a part of our friendly team.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-top-35 offset-md-top-65"><a href="#" class="btn btn-primary">View All Jobs</a></div>
      </div>
    </section>
    <section class="section-80 bg-wild-wand">
      <div class="shell">
        <div class="range range-xs-center">
          <div class="cell-sm-6 cell-md-4">
            <div class="box bg-white">
              <h5 class="text-ubold">Travel Agent</h5>
              <div class="offset-top-15">
                <p class="text-small text-silver-chalice">Travel agents work as sales people for all things related to travel. They book hotel rooms, flights, trains, rental cars, and cruises.</p>
              </div>
              <div class="offset-top-30"><a href="#" class="btn btn-xs btn-xs-variant-2 btn-width-95 btn-primary">35 positions</a></div>
            </div>
          </div>
          <div class="cell-sm-6 cell-md-4 offset-top-20 offset-sm-top-0">
            <div class="box bg-white inset-lg-left-30 inset-lg-right-30">
              <h5 class="text-ubold">Cruise Planner</h5>
              <div class="offset-top-15">
                <p class="text-small text-silver-chalice">The Cruise Planner at SunTravel is responsible for providing engaging and timely travel related updates to cruise travelers.</p>
              </div>
              <div class="offset-top-30"><a href="#" class="btn btn-xs btn-xs-variant-2 btn-width-95 btn-primary">4 positions</a></div>
            </div>
          </div>
          <div class="cell-sm-6 cell-md-4 offset-top-20 offset-md-top-0">
            <div class="box bg-white">
              <h5 class="text-ubold">Reservations Specialist</h5>
              <div class="offset-top-15">
                <p class="text-small text-silver-chalice">We’re looking for an enthusiastic and highly motivated individual with a strong sales and hotel reservations background.</p>
              </div>
              <div class="offset-top-30"><a href="#" class="btn btn-xs btn-xs-variant-2 btn-width-95 btn-primary">17 positions</a></div>
            </div>
          </div>
          <div class="cell-sm-6 cell-md-4 offset-top-20">
            <div class="box bg-white">
              <h5 class="text-ubold">Operations Manager</h5>
              <div class="offset-top-15">
                <p class="text-small text-silver-chalice">Increase your level of professionalism and get a chance to work in a friendly team of specialists as SunTravel Operations Manager.</p>
              </div>
              <div class="offset-top-30"><a href="#" class="btn btn-xs btn-xs-variant-2 btn-width-95 btn-primary">3 positions</a></div>
            </div>
          </div>
          <div class="cell-sm-6 cell-md-4 offset-top-20">
            <div class="box bg-white inset-lg-left-30 inset-lg-right-30">
              <h5 class="text-ubold">Traveler Support Specialist</h5>
              <div class="offset-top-15">
                <p class="text-small text-silver-chalice">This is your opportunity to break the mold of a typical customer service role by using your exceptional communication skills.</p>
              </div>
              <div class="offset-top-30"><a href="#" class="btn btn-xs btn-xs-variant-2 btn-width-95 btn-primary">8 positions</a></div>
            </div>
          </div>
          <div class="cell-sm-6 cell-md-4 offset-top-20">
            <div class="box bg-white">
              <h5 class="text-ubold">Tour Guide</h5>
              <div class="offset-top-15">
                <p class="text-small text-silver-chalice">Tourist guides show visitors around places of interest, such as towns and cities, historic buildings, gardens, religious sites etc.</p>
              </div>
              <div class="offset-top-30"><a href="#" class="btn btn-xs btn-xs-variant-2 btn-width-95 btn-primary">8 positions</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="page-footer section-top-80 section-bottom-34 section-lg-bottom-15 text-sm-left">
    <div class="shell">
      <div class="range range-xs-center">
        <div class="cell-sm-8 cell-md-12">
          <div class="range range-xs-center">
            <div class="cell-sm-6 cell-md-3 cell-lg-4 cell-md-push-1"><a href="index.html"><img  height="60" src="images/logo-dark-299x60.png" alt=""></a>
              <div class="offset-top-20 inset-lg-right-80">
                <p class="text-small">For over 30 years we have been creating inspirational tailor-made holidays and are proud of our reputation</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-3 cell-lg-2 cell-md-push-4">
              <p class="text-big text-gray-base">Follow Us</p>
              <div class="offset-top-20">
                <ul class="list-inline">
                  <li class="text-center"><a href="#" class="icon icon-square icon-filled-gallery fa fa-facebook-f text-gray"></a></li>
                  <li class="text-center"><a href="#" class="icon icon-square icon-filled-gallery fa fa-twitter text-gray"></a></li>
                  <li class="text-center"><a href="#" class="icon icon-square icon-filled-gallery fa fa-youtube text-gray"></a></li>
                  <li class="text-center"><a href="#" class="icon icon-square icon-filled-gallery fa fa-linkedin text-gray"></a></li>
                </ul>
              </div>
              <div class="offset-top-20 offset-md-top-40">
                <button type="button" data-toggle="modal" data-target="#subscribe" style="min-width:160px;" class="btn btn-primary">Subscribe</button>
                <div id="subscribe" tabindex="-1" role="dialog" class="modal modal-custom fade text-center">
                  <div role="document" class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body">
                        <div class="shell">
                          <div class="range range-xs-center range-xs-middle">
                            <div class="cell-sm-6 bg-image bg-image-1"></div>
                            <div class="cell-sm-6">
                              <div class="modal-body-column-content">
                                <div>
                                  <h5 class="text-ubold">Subscribe to <br class="veil reveal-lg-inline-block">
                                    our newsletter</h5>
                                </div>
                                <div class="offset-top-15">
                                  <p class="text-italic text-small text-gray-base">Subscribe and <code class="text-ubold">get 5% off</code> on your first tour!</p>
                                </div>
                                <div class="offset-top-35">
                                  <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform rd-mailform-subscribe">
                                    <div class="form-group form-group-xs">
                                      <label for="contact-email" class="form-label">Enter Your email here...</label>
                                      <input id="contact-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">SUBSCRIBE</button>
                                  </form>
                                </div>
                                <div class="offset-top-35">
                                  <ul class="list-inline list-primary list-inline-13">
                                    <li class="text-center"><a href="#" class="icon fa fa-facebook-f text-gray-base"></a></li>
                                    <li class="text-center"><a href="#" class="icon fa fa-twitter text-gray-base"></a></li>
                                    <li class="text-center"><a href="#" class="icon fa fa-youtube text-gray-base"></a></li>
                                    <li class="text-center"><a href="#" class="icon fa fa-linkedin text-gray-base"></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell-xs-8 cell-sm-12 cell-md-6 offset-top-40 offset-md-top-0 cell-md-push-2">
              <p class="text-big text-gray-base">Our Contacts</p>
              <div class="offset-top-8 offset-sm-top-20">
                <address class="contact-info text-left">
                <div class="range range-xs-center">
                  <div class="cell-sm-6">
                    <div>
                      <p class="reveal-block text-small"><a href="#" class="text-gray"><span class="unit unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-01-16x21.png" width="16" height="21" alt="" class="img-responsive center-block offset-top-4"></span><span class="unit-body"><span>1730 M Str., Suite 501, NW. Washington DC. 20036 U.S.A</span></span></span></a></p>
                    </div>
                    <div class="offset-top-20">
                      <p class="reveal-inline-block text-small"><a href="callto:#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-02-19x19.png" width="19" height="19" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>19008721</span></span></span></a></p>
                    </div>
                  </div>
                  <div class="cell-sm-6 offset-top-15 offset-sm-top-0">
                    <div>
                      <p class="reveal-inline-block text-small"><a href="callto:#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-03-12x20.png" width="12" height="20" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>19008197</span></span></span></a></p>
                    </div>
                    <div class="offset-top-15">
                      <div>
                        <p class="reveal-inline-block text-small"><a href="/cdn-cgi/l/email-protection#1635" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-04-20x13.png" width="20" height="13" alt="" class="img-responsive center-block"></span><span class="unit-body"><span><span class="__cf_email__" data-cfemail="a5cccbc3cae5c1c0c8cac9cccbce8bcad7c2">philip@gmail.com</span></span></span></span></a></p>
                      </div>
                    </div>
                    <div class="offset-top-20">
                      <p class="reveal-inline-block text-small"><a href="#" class="text-gray"><span class="unit unit-middle unit-horizontal unit-spacing-xs"><span class="unit-left"><img src="images/icon-05-19x19.png" width="19" height="19" alt="" class="img-responsive center-block"></span><span class="unit-body"><span>TravelTourism.org</span></span></span></a></p>
                    </div>
                  </div>
                </div>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-top-110">
        <div class="hr bg-gallery"></div>
      </div>
      <div class="range range-xs-center range-sm-justify offset-top-8">
        <div class="cell-sm-5 cell-md-4 text-sm-left">
          <p class="text-extra-small">Copyright &#169; <span id="copyright-year"></span> Travel & Tourism. All Rights Reserved.</p>
        </div>
        <div class="cell-sm-5 cell-md-4 text-sm-right offset-top-0">
          <ul class="list-inline list-inline-8">
            <li>
              <p class="text-extra-small"><a href="privacy.html" class="text-gray">Privacy Policy</a></p>
            </li>
            <li>
              <p class="text-extra-small"><a href="terms-of-use.html" class="text-gray">Terms of Use</a></p>
            </li>
            <li>
              <p class="text-extra-small"><a href="contacts.html" class="text-gray">Contact Support</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
<div id="form-output-global" class="snackbars"></div>
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
        <button title="Share" class="pswp__button pswp__button--share"></button>
        <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
        <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
      <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__cent"></div>
      </div>
      <div class="pswp__counter"></div>
    </div>
  </div>
</div>
<script src="js/core.min.js"></script> 
<script src="js/script.js"></script>
</body>
</html>